{% extends "website/base.html" %}

{% block body %}
  <div style="height:150px"></div>

  <div class="row">
    <div class="col col-md-4">
      <div class="well gid-box">
        Portable Identity Secured by the Blockchain
      </div>
    </div>
    <div class="col col-md-4">
      <div class="well gid-box">
        Attestations from Trusted 3rd Parties
      </div>
    </div>
    <div class="col col-md-4">
      <div class="well gid-box">
        Data Vaults for Privacy and Compliance
      </div>
    </div>
  </div>
{% endblock %}

