{% extends "website/base.html" %}

{% block body %}
  <div style="height:150px"></div>

  <h1>Identity Preamble</h1>

  <p>
    Every person has a right, and a responsibility, to a secure, trusted, and
    private identity.  The prevalence of electronic connections implies that we
    each must identify ourselves in order to prove our authorization for
    particular conduct -- without necessarily wanting to give up any more
    private details than necessary.  For two parties to conduct their affairs
    in a trusted manner requires balancing reciprocal security and privacy
    concerns.  Age old concerns about "big brother" have chilled expectations
    about a corporation or government balancing these competing values.  But
    the advent of new technologies such as distributed ledgers suggest new
    possibilities  for a universal and portable identity solution that need not
    rely on a centralized authority.  The GID mission is to harness new
    technical and governance possibilities to create a "little brother"
    identity helper rather than a "big brother" identity overlord.
  </p>

  <p>
    Many of the world's poorer individuals have no way to participate in the
    connected world because they have no digital identity at all with which to
    garner access to particular offerings in society.  But even for those of us
    with means to garner access, the status quo is friction laden with
    redundant signups as well as susceptible to abuse by bad actors.  And to
    date, no one has ever conceived of a central power to do all of this
    without veering into an Orwellian big brother reality.  The alternative of
    distributed ledger technology and federated governance suggest that there
    is a democratizing bottom-up identity architecture that could include and
    benefit every member of society.  
  </p>

  <p>
    The GID Framework describes how individuals can rightly and responsibly
    control their assets and permission based conduct and be trusted in turn by
    others who do the same.  Doing so is possible only by reciprocally
    balancing the rights and responsibilities of a universal and portable
    identity framework.
  </p>
{% endblock %}

